.content-scroll-wrapper {
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	height: calc(100% - 150px);
	overflow-y: auto;
}

.content-filters-container, .spotlight-tab-container {
	display: block;
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border-left: 1px solid #515151;
	border-right: 1px solid #515151;
	border-bottom: 1px solid #515151;
	background-color: #1A1A1A;
}

.content-list {
	display: block;
	position: relative;
}

.content-hover-detail {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 144px;
	border: 1px solid #515151;
	background-color: #1A1A1A;
}

.content-item-cont {
	position: absolute;
	width: 140px;
	height: 140px;
	z-index: 1;
}

.content-disabled  img.content-image {
	-webkit-filter: grayscale(1);
	opacity: 0.45;
}

.content-item:hover {
	border: 2px solid #F9F9F9 !important;
	background-color: #515151;
}

.content-version-info {
    position: absolute;
	bottom: 4px;
	left: 6px;
}



.content-online-version {
	font-size: 12px;
	color: #F9F9F9;
}

.content-checkbox, .content-download {
    position: absolute;
	bottom: 0px;
	right: 0px;
    height: 24px;
    width: 24px;
}





.content-update-available .content-online-version {
	color: #CC8800 !important;
}

.content-update-available.content-disabled .content-online-version {
	color: #664400 !important;
}


.content-disabled.content-item:hover .content-author {
	color: #888888;
}



.content-filter-label,.content-sort-label {
    float: left;
	width: 120px;
	color: #888888;
}

.content-filter-items-container, .content-filter-sort-container {
	padding-left: 120px;
}

.content-filter-item, .content-sort-item {
	width: 110px;
	height: 12px;
	padding-top: 4px;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.content-filter-name, .content-sort-name {
	display: inline-block;
}

.content-filter-results {
	display: inline-block;
	color: #515151;
}

.content-filter-selected, .content-sort-selected {
	color: #F9F9F9;
}

.content-filter-item:hover, .content-sort-item:hover {
	color: #F9F9F9;
}

.content-filter-item:hover .content-filter-results {
	display: inline-block;
}

.sub-tab-container {
	display: block;
	position: relative;
	left: 0px;
	right: 0px;
	margin-right: 10px;
	border-bottom: 1px solid #515151;
}

.far-right-tab-list {
	display: block;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.content-detail-item-cont:hover img.content-detail-image {
	opacity: 0.45;
}

.content-detail-checkbox {
    position: absolute;
	top: 5px;
	left: 145px;
    height: 24px;
    width: 24px;
}



/****************/
/* Basic Styles */
/****************/

.content-item {
	display: inline-block;
	position: relative;
	width: 140px;
	height: 140px;
	cursor: pointer;
}

img.content-image {
	position: absolute;
	width: 140px;
	height: 140px;
	z-index: 0;
}

.content-name {
	top: 0px;
	left: 0px;
	color: #F9F9F9;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000000;
	z-index: 1;
}

.content-author {
	display: none;
	font-family: "Verdana";
	font-size: 12px;
	color: #F9F9F9;
	z-index: 1;
}

.content-version {
	font-size: 12px;
	color: #F9F9F9;
}

.content-build {
	font-size: 12px;
	color: #F9F9F9;
}

.content-date {
	font-size: 12px;
}

.content-required {
	font-size: 12px;
}

.content-required-item {
	font-size: 12px;
}

.content-required-item-condition {
	font-size: 10px;
}

.content-description, .content-description-update {
	color: #F9F9F9;
}

.content-update-available .content-name {
	color: #CC8800 !important;
}

.content-disabled .content-name {
	color: #888888;
}

.content-update-available.content-disabled .content-name {
	color: #664400 !important;
}

/****************/
/* Content Tile */
/****************/
.content-item .content-name {
	width: 140px;
}

.content-item:hover .content-author {
	padding: 5px;
	display: block !important;
	font-style: italic;
}

/******************/
/* Content Detail */
/******************/

.content-detail {
	display: block;
	position: relative;
	width: 100%;
}

.content-detail-item {
	margin-left: 154px;
	padding-left: 5px;
	min-height: 144px;
}

.content-detail-item div {
	position: relative;
	display: block;
	float: left;
}

.content-detail .content-item {
	position: absolute;
}

.content-detail .content-name {
	clear: none;
}

.content-detail .content-downloads {
	float: right;
}

.content-detail .content-downloads-value {
	margin-left: 4px;
}

.content-detail .content-new {
	color: #008CFF;
	margin-left: 4px;
	margin-top: 5px;
	font-style: italic;
	font-size: 11px;
}

.content-detail .content-type {
	font-size: 12px;
	clear: left;
}

.content-detail .content-author {
	padding-left: 4px;
}

.content-detail .content-version {
	clear: left;
	color: #888888;
	font-style: italic;
}

.content-detail .content-build {
	color: #888888;
	font-style: italic;
}

.content-detail .content-date {
	color: #888888;
	font-style: italic;
	margin-left: 4px;
}

.content-detail .content-required {
	color: #888888;
	clear: left;
}

.content-detail .content-required-item {
	color: #888888;
	margin-left: 4px;
}
.content-detail .content-required-item-condition {
	color: #888888;
	margin-left: 4px;
	margin-top: 2px;
}

.content-detail .content-description {
	border-top: 1px solid #515151;
	width: 100%;
	padding-top: 4px;
	margin-bottom: 4px;
}
.content-detail .content-description-update {
	width: 100%;
}

.content-detail .content-actions {
	float: right;
	margin-top: -6px;
}

/*********************/
/* Content Spotlight */
/*********************/

.content-spotlight-stats {
	padding: 5px;
}

.stat-label {
	width: 220px;
	display: inline-block;
	color: #F9F9F9;
}
.stat-value {
	display: inline-block;
}

.content-spotlight-list  {
	display: inline-block;
	width: auto;
}

.content-spotlight-list-item {
	border: 1px solid #1A1A1A;
	padding: 4px;
}

.content-spotlight-list-item:hover {
	background-color: #515151;
	border: 1px solid #888888;
	cursor: pointer;
}

.content-spotlight-list-item  .content-name {
	position: relative;
	display: block;
}

.content-spotlight-list-item .content-date {
	position: relative;
	display: inline;
	font-size: 12px;
	margin-right: 4px;
	color: #CC8800;
}

.content-spotlight-list-item .content-downloads {
	position: relative;
	display: inline;
	font-size: 12px;
	margin-right: 4px;
	color: #CC8800;
}

.content-spotlight-list-item .content-type {
	position: relative;
	display: inline;
	font-size: 12px;
}

.text-button-update  {
	color: #CC8800;
}

.text-button-update:hover  {
	color: #FECA00;
}

.text-button-uninstall  {
	color: #888888;
}
.text-button-uninstall:hover  {
	color: #EAEAEA;
}