.content-scroll-wrapper {
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	height: calc(100% - 150px);
	overflow-y: auto;
}

.content-filters-container {
	display: block;
	position: relative;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #515151;
	background-color: #1A1A1A;
}

.content-list {
	display: block;
	position: relative;
}

.content-detail {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 140px;
	border: 1px solid #515151;
	background-color: #1A1A1A;
}

.content-item-cont {
	display: inline-block;
	position: relative;
	width: 140px;
	height: 140px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	background-color: #1A1A1A;
}

.content-disabled.content-item-cont {
	background-color: #0B0B0B !important;
}

.content-item {
	position: absolute;
	width: 140px;
	height: 140px;
	z-index: 1;
}

img.content-image {
	position: absolute;
	width: 140px;
	height: 140px;
	z-index: 0;
}

.content-disabled  img.content-image {
	-webkit-filter: grayscale(1);
	opacity: 0.45;
}

.content-item-cont:hover {
	border: 2px solid #F9F9F9 !important;
	background-color: #515151;
}

.content-checkbox {
    position: absolute;
	bottom: 0px;
	right: 0px;
    height: 24px;
    width: 24px;
}

.content-name {
	float: left;
	clear: right;
	box-sizing: border-box;
	width: 140px;
	top: 0px;
	left: 0px;
	color: #F9F9F9;
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
	text-shadow: 1px 1px 2px #000000;
	z-index: 1;
}

.content-update-available .content-name {
	color: #CC8800 !important;
}

.content-disabled .content-name {
	color: #888888;
}

.content-update-available.content-disabled .content-name {
	color: #664400 !important;
}

.content-filter-label,.content-sort-label {
    float: left;
	width: 120px;
	color: #888888;
}

.content-filter-items-container, .content-filter-sort-container {
	padding-left: 120px;
}

.content-filter-item, .content-sort-item {
	width: 110px;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
}

.content-filter-name, .content-sort-name {
	display: inline-block;
}

.content-filter-results {
	display: inline-block;
	color: #515151;
}

.content-filter-selected, .content-sort-selected {
	color: #F9F9F9;
}

.content-filter-item:hover, .content-sort-item:hover {
	color: #F9F9F9;
}

.content-filter-item:hover .content-filter-results {
	display: inline-block;
}

/* Move this to plugin store css */
.content-detail-type {
    position: absolute;
	width: calc(100% - 140px);
    bottom: 0px; 
	left: 140px;
	height: 30px;
}
	
.content-detail-type-inner {
	width: calc(100% - 5px);
	height: 25px;
	color: #F9F9F9;
	padding-top: 5px;
	padding-left: 5px;
	font-family: "Verdana";
	font-style: italic;
}

img.content-detail-image {
	position: absolute;
	width: 140px;
	height: 140px;
	left: 0px;
	top: 0px;
	/*background-color: #0B0B0B;*/
}

.content-disabled  img.content-detail-image {
	-webkit-filter: grayscale(1);
}

.content-detail-item-cont:hover img.content-detail-image {
	opacity: 0.45;
}

.content-detail-checkbox {
    position: absolute;
	top: 5px;
	left: 145px;
    height: 24px;
    width: 24px;
}

.content-detail-name {
	display: block;
    position: absolute;
	top: 0px;
	left: 164px;
	color: #F9F9F9;
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
	text-shadow: 1px 1px 2px #000000;
}

.content-detail-description {
	display: block;
    position: absolute;
	top: 24px;
	left: 140px;
	font-style: italic;
	color: #F9F9F9;
	padding: 5px;
	font-family: "Verdana";
	font-size: 11px;
}